<div class="home">

  {% for chapter in site.data.chapters.chapters %}
  <div class="materials-wrap">
    <!-- Collapsible Header with Toggle Icon -->
    <div class="module-header">
      {{ chapter.title }}
    </div>
    
    <!-- Section Content -->
    <div id="section-{{ forloop.index }}" class="materials-section">
      <div class="materials-item">
        <a href="{{ chapter.url }}">
          {% if chapter.notes %}
            {{ chapter.notes }}
          {% else %}
            {{ chapter.title }} Notes
          {% endif %}
        </a>
      </div>
      {% for project in chapter.projects %}
      <div class="materials-item">
        <a href="{{ project.url }}">{{ project.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

