<footer class="site-footer">
    <div class="footer-wrap">
        <div class="column">
            <h3>Follow Us</h3>
            <ul>
                {% if site.github_username %}<li><a href="https://github.com/tinkernerd" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>{% endif %}
                {% if site.twitter_username %}<li><a href="https://twitter.com/tinkernerd" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>{% endif %}
                {% if site.linkedin_username %}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>{% endif %}
            </ul>
        </div>

        <!-- Column 2: Main Links from _data/nav.yml -->
        <div class="column">
            <h3>Main Links</h3>
            <ul>
                {% for item in site.data.nav.nav %}
                    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Column 3: Quick Links from _data/nav.yml -->
       <!---<div class="column">
            <h3>Quick Links</h3>
            <ul>
                {% for quicklink in site.data.quicklinks.quicklinks %}
                    <li><a href="{{ quicklink.link }}">{{ quicklink.name }}</a></li>
                {% endfor %}
            </ul>
        </div> -->

        <!-- Column 4: Contact Info -->
        <div class="column">
            <h3>Contact Me?</h3>
            <ul>
                {% if site.email %}<li><a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i> Email</a></li>{% endif %}
                {% if site.phone %}<li><a href="tel:{{ site.phone }}"><i class="fas fa-phone"></i> Phone</a></li>{% endif %}
            </ul>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>&copy; 2024 The Tinkering Nerd. All rights reserved. | Excuse of the day is: <span class="excuse-text">{{ site.excuse_of_the_day }}</span></p>
    </div>

    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/8b19fdd55f.js" crossorigin="anonymous"></script>

</footer>
