<nav class="sidebar">
    <h2>Navigation</h2>
    <ul class="navbar">
        <!--<li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/services/' | relative_url }}">Services</a></li>
        <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>-->

        {% for chapter in site.data.chapters.chapters %}
            <li class="chapter-link">
                <a href="{{ chapter.url | relative_url }}">
                    {{ chapter.notes | default: chapter.title | append: " Notes" }}
                </a>

                {% if chapter.projects %}
                    <ul class="project-links">
                        {% for project in chapter.projects %}
                            <li>
                                <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
