// Layout and Main Content Area
.page-content {
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// Media Queries
@media (min-width: 1080px) {

    .site-link:link,
    .site-link:visited {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 750px) {

    .footer-col-1,
    .footer-col-2 {
        width: 50%;
        margin-right: 0;
    }

    .column.footer-col-3 {
        width: auto;
        float: none;
        clear: both;
    }
}

@media screen and (max-width: 600px) {
    .wrap {
        padding: 0 12px;
    }

    .post-header h1 {
        font-size: 32px;
    }

    .post-content h2 {
        font-size: 28px;
    }

    .post-content h3 {
        font-size: 24px;
    }

    .post-content h4 {
        font-size: 20px;
    }

    .post-content blockquote {
        padding-left: 10px;
        border-left-width: 3px;
    }

    .post-content ul,
    .post-content ol {
        padding-left: 10px;
    }

    .column {
        float: none;
        clear: both;
        width: auto;
        margin: 0 0 15px;
    }
}