    
.callout {
    border-radius: 8px; // Rounded corners
    padding: 1rem;
    margin: 1rem auto;
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.5;
    border-color: var(--info-border); // Dynamic border color
    background-color: var(--info-background); // Dynamic background color
    p {
        margin: 0; // Remove default margin from paragraphs
        color: var(--info-text); // Dynamic text color
        
        strong {
            font-weight: bold; // Bold text for "Info:"
        }
    }
}