<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Static Website Template</title>
        <module href="/components/head.html"></module>
    </head>
    <body>
        <module href="/components/header.html"></module>
        <main>
                <h1>ISYS 115 Notes</h1>
                <p>Welcome to my notes for ISYS 115, a course on Introduction to JavaScript and Web Development. I'll be updating
                    these notes as the course progresses, so be sure to check back regularly for new content.</p>
                <p>The notes are organized by chapter, which you can find on the sidebar to the left. You can also use the search
                    function to find specific topics or keywords.</p>
                <p>If you have any feedback or corrections, please don't hesitate to let me know. You can contact me using the
                    methods on the <a href="/contact">contact page</a>.</p>
        </main>
    </body> 

</html>