<!DOCTYPE html>
<html lang="en">

<head>
    <title>Static Website Template</title>
    <module href="/components/head.html"></module>
</head>

<body>
<module href="/components/header.html"></module>
<module href="/components/sidebar.html"></module>
    <div id="main">
    <h1>Multi-level Side Navigation</h1>

    <p class="intro"><strong>This is a multi-level side navigation pattern with hover and push</strong>.
        Hovering over the menu will reveal its lables and clicking the hamburger icon pins the menu open.</p>

    <h2>Checkbox Hack</h2>

    <p>I started by using the checkbox hack but ran into its limitations when I tried to implement the 'push'
        behaviour. It works for the secondary menus but the input element and its corresponding label can really
        only affect the adjacent element (i.e. I
        couldn't target the page container to push it over). So, I added...</p>

    <h2>A Touch of jQuery</h2>
    <p>I'm sure this could be done with vanilla javascript, but that is not my strong suit. So here we are. You
        might be thinking, "Why not just use JQuery for all of the functionality?" Well, you can! Fork it and go
        nuts! Maybe drop me a line if you do.</p>

    <p class="small"><strong>This is small text</strong>. Lorem Ipsum is simply dummy text from the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
        an unknown printer took a galley of type and scrambled
        it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularized in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
        Ipsum.</p>

    </div>
</body>

</html>