.logo-container {
    display: flex;
    align-items: center;

    .logo {
        width: 100px; // Increase size
        height: auto; // Maintain aspect ratio
        transition: transform 0.3s ease, fill 0.3s ease;

        &:hover {
            transform: scale(1.2) rotate(10deg); // Add animation

            circle {
                fill: #2b5c2a; // Change the circle's color
            }

            text {
                fill: #ffe57f; // Change text color
            }
        }
    }
}