<!DOCTYPE html>
<html lang="en">

<head>
    <title>JavaScript Functions</title>
    <module href="/components/head.html"></module>
</head>

<body>
    <module href="/components/header.html"></module>
    <module href="/components/notes-sidebar.html"></module>
    <div id="main">
            <header>
                <h1>JavaScript Functions</h1>
            </header>
            <p>- Functions are one of the core building blocks in JavaScript. They allow you to encapsulate code that can be reused.<br>- Functions can take parameters and return values, and understanding their scope is crucial to writing effective
                JavaScript code.</p>
            <section>
                <button class="collapsible open">Function Declaration</button>
                <div class="content expanded">
                <pre><code class="language-javascript">function myFunction() {
// code to be executed
}</code></pre>
                </div>
            </section>
            <br>
            <section>
                <button class="collapsible open">Function Expression</button>
                <div class="content expanded"> 
                <pre><code class="language-javascript">const myFunction = function() {
// code to be executed
}</code></pre>
                </div>
            </section>
            <br>
            <section>
                <button class="collapsible open">Arrow Functions</button>
                <div class="content expanded"> 
                <pre><code class="language-javascript">const myFunction = () => {
// code to be executed
}</code></pre>
                </div>
            </section>
            <br>    
            <section></section>
        </div>
</body>

</html>