// Cookie Notice
#cookie-notice {
    padding: 0.5rem 1rem;
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 2rem);
    background: #222;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1000;

    a {
        display: inline-block;
        cursor: pointer;
        margin-left: 0.5rem;
        color: #387c3b;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 767px) {
        span {
            display: block;
            padding-top: 3px;
            margin-bottom: 1rem;
        }

        a {
            position: relative;
            bottom: 4px;
        }
    }
}