<footer class="SiteFooter">
  <div class="SiteFooter-donation">
    <div class="Donation">
      <div class="Donation-sticker-clipping">
        <img src="/assets/img/yeoman-character-sticker.png" class="Donation-sticker" width="190" height="294"
          alt="Stickers!" />
      </div>
      <div class="Donation-text">
        <a href="https://yeoman.threadless.com/">
          Show your love for
          <strong>Yeoman</strong>, <br />
          wear our <strong>merch</strong>!
        </a>
      </div>
    </div>
  </div>
  <ul class="SiteFooter-links">
    <li>
      <a href="https://twitter.com/yeoman" class="icon">
        <img src="/assets/img/social-twitter.svg" class="SiteFooter-icon" alt="Twitter" />
      </a>
    </li>
    <li>
      <a href="https://github.com/yeoman/yeoman" class="icon">
        <img src="/assets/img/social-github.svg" class="SiteFooter-icon" alt="GitHub" />
      </a>
    </li>
    <li>
      <a href="/blog/atom.xml" class="icon">
        <img src="/assets/img/social-feed.svg" class="SiteFooter-icon" alt="Feed" />
      </a>
    </li>
    <li class="mobile-ln"></li>
    <li>
      <a href="https://yeoman.github.io/generator/" class="SiteFooter-button SiteFooter-button--light">API</a>
    </li>
    <li>
      <a href="https://github.com/yeoman/yeoman.github.io/blob/source/app/" class="SiteFooter-button" title="Edit this page on GitHub to help improve the site">Improve this page</a>
    </li>
  </ul>
</footer>
