<div id="footer" style="display: none;">
    <span>
        <span id="current-datetime"></span>
        | <a href="https://github.com/tinkernerd" target="_blank">2024 - <span id="current-year"></span> Tinkernerd</a>
        | <span id="weather-info">Loading weather...</span>
        | <a href="/feedback.html">Feedback</a>
    </span>
</div>
<!-- Cookie Notice -->
<div id="cookie-notice">
    <span>We would like to use third-party cookies and scripts to improve the functionality of this website.</span>
    <a id="cookie-notice-accept" class="btn btn-primary btn-sm">Approve</a>
    <a href="/privacy" class="btn btn-primary btn-sm">More info</a>
</div>