<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />
<!--Css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
<!--Leaflet.js-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!--Prism-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>

<!--Jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>


<!--js-->
<script src="/assets/js/bundle.js" defer></script>

<!-- Favicon 
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
<link rel="manifest" href="site.webmanifest" />
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#465e69" />
<link rel="shortcut icon" href="favicon.ico" />
<meta name="apple-mobile-web-app-title" content="Webpack Bootstrap5 Starter" />
<meta name="application-name" content="Webpack Bootstrap5 Starter" />
<meta name="msapplication-TileColor" content="#e2e8f0" />
<meta name="msapplication-config" content="browserconfig.xml" />
<meta name="theme-color" content="#e2e8f0" />
-->