<div class="sidebar">
    <nav>
        <ul>
            <li>
                <ul>
                    <li><a href="/notes/index.html">Overview</a></li>
                    <li><a href="/notes/api.html">API's</a></li>
                    <li><a href="/notes/dom-manipulation.html">DOM Manipulation</a></li>
                    <li><a href="/notes/functions.html">Functions</a></li>
                    <li><a href="/notes/web-security.html">Web Security</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>  