<div class="sidebar">
    <nav>
        <ul>
            <li><a href="/projects/index.html">Overview</a></li>
            <li><a href="/projects/live-metar.html">Live Metar</a></li>
            <li><a href="/projects/bill-total.html">Bill Total</a></li>
            <li><a href="/projects/book-review.html">Book Review</a></li>
            <li><a href="/projects/bouncing-balls.html">Bouncing Balls</a></li> 
            <li><a href="/projects/calculator.html">Calculator</a></li>
            <li><a href="/projects/doc-write.html">Document Write Example</a></li>
            <li><a href="/projects/dynamic-table.html">Dynamic Table</a></li>
            <li><a href="/projects/random-quotes.html">Random Quote</a></li>
            <li><a href="/projects/shapes.html">Shapes Selection Tool</a></li>
            <li><a href="/projects/space-station.html">Space Station Tracker</a></li>
            <li><a href="/projects/temp-converter.html">Temperature Converter</a></li>
            <li><a href="/projects/nasa-api.html">Nasa API</a></li>
            <li><a href="/projects/timer.html">Timer</a></li>
            <!-- Add more projects here -->
        </ul>
    </nav>
</div>